[2016-02-23 00:42] schmod opened #1 "release and publish to npm"

[2016-04-15 23:53] #1 closed

[2016-07-25 09:51] mgol opened #2 "Usage instructions in .babelrc are non-standard"
The README mentions the way to add the plugin to `.babelrc`:
[code]

However, that seems like an anti-pattern; people shouldn't depend on specific paths to the plugin (especially that the `babel-ng-annotate` doesn't match the name of the plugin), they should just use the plugin name as with every other plugin:
[code]

[2016-07-25 09:53] mgol opened #3 "Support 'ngInject' string-based annotation"
The README only mentions implicit annotation or one done via the `/* @ngInject */` comment. The `'ngInject';` string-based annotation should be supported as well:
[code]

[2016-07-25 09:55] mgol opened #4 "Add support for the explicit-only mode"
The implicit mode has many potential surprises; I'd like to be able to explicitly mark all places that should be annotated and have a guarantee nothing else gets annotated. In this mode only classes/functions marked with `/* @ngInject */` or `'ngInject';` would be annotated.

[2016-07-25 14:30] schmod commented on #4
👍

Seems reasonable, and shouldn't be terribly difficult to implement.  I'll see what I can do.

[2016-07-25 14:34] schmod commented on #3
Do you have a reason for preferring this style?

I generally haven't seen it used much in the wild, and `@`-prefixed comments seem to be the standard convention for annotating JS sources, and mimic the annotation syntax used in ES6/Java/Python.

[2016-07-25 14:45] mgol commented on #3
I guess you're right in that it reminds other tools more.

My preference came from a few things:

1. The fact that I have `'ngInject';` sprinkled all over my projects so migrating to this Babel plugin would require refactoring. 😄
1. It resembles `"use strict"`, `"use asm"` etc. a little.
1. ng-annotate itself has described this way as the preferred one: https://github.com/olov/ng-annotate#explicit

[2016-07-25 14:50] schmod commented on #2
Will fix.  That's a relic from before this was published to NPM

(Although I'll note that many people _do_ use full paths if their babel configurations, particularly when including modules via `npm link` -- Babel and/or webpack have difficulty resolving modules in that scenario; see https://github.com/babel/babel-loader/issues/149)

[2016-07-25 14:54] #2 closed

[2016-07-25 15:02] mgol commented on #3
See also https://github.com/olov/ng-annotate/issues/180#issuecomment-165988194 and https://github.com/olov/ng-annotate/issues/206. I have an impression that quite many people think the `'ngInject';` pragma is the recommended way, some even think other forms are deprecated. :) In some cases it's the only way as some transpilers will lose comments or misplace them.

Adding this way of annotating wou

[2016-07-25 18:06] schmod opened #5 "Block unsafe use of arrow functions"
Arrow functions cannot be safely used in providers or services, because these types are intended to be invoked with the `new` operator, and expect to have their own value of `this`.

We should discourage (or outright disallow) people from doing this, because the breakages that it causes could lead to subtle and unpredictable bugs.

[2016-07-25 18:06] schmod commented on #5
Counterpoint:  This could be beyond the scope of what this project is meant to provide.

[2016-07-25 18:28] #3 closed

[2016-07-25 18:38] mgol commented on #3
Thanks! :tada:

[2016-07-25 20:23] schmod commented on #3
Huh.  I didn't realize that it had emerged as the preference.

Fortunately, it's also a whole lot easier to implement.

Unless I'm missing something, I *think* class constructors are the only new ES6 feature where a prologue would be useful/usable.  Can you think of any place else where this would be useful?

Class methods come to mind, but is there an actual use-case for that?

[2016-07-25 20:25] schmod commented on #4
Is there any benefit of being able to individually enable/disable the `/* @ngInject */` and `'ngInject` matchers, or will it be sufficient to add a toggle that disables implicit matches?

[2016-07-25 20:29] mgol commented on #3
I'd expect it to be used only for class constructors, at least I don't see use cases for annotating methods. If some come up, it can always be added later, I guess. :)

[2016-07-25 20:31] mgol commented on #4
I think disabling all implicit matches should be enough (at least it would for me); disabling one explicit annotation style is more a job for a linter if someone wants sth like that.

[2016-07-25 23:13] schmod commented on #4
While looking at the existing test cases, I stumbled across this:

[code]

When we're doing "explicit-only" annotating, I think it's reasonable to assume that the above code sample would _not_ work correctly, unless an additional `/* @ngInject */` or `'ngInject'` was added to `yoyo`.

When we add an `ngInject` annotation to a node, I don't think that our users should assume that implicit matching

[2016-07-25 23:34] #4 closed

[2016-07-26 11:46] mgol commented on #5
Yeah, I think such things are more in scope of a linter.

[2016-08-01 11:35] mgol opened #6 "The babel package shouldn't be a dependency"
Currently this plugin has the `babel` package as a dependency and it shouldn't. Plugin packages may declare the packages they need to work in `peerDependencies` or not declare at all since it's important that all plugins use the same package and not their own copies.

Other Babel plugins don't include `babel` as a dependency.

[2016-08-01 17:04] schmod commented on #6
That looks correct.  I'll fix this in the next release (feel free to submit a PR).

[2016-08-03 18:35] ejbaker opened #7 "Simple component generating "target.get(...).filter is not a function" error"
[code]

That's it, that's what I've stripped the code down to and it's still generating this mysterious error. If I swap it out to directive style, the error goes away. This is frustrating, since component support is exactly why I switched from ngAnnotate to this plugin...

(There is no 'filter' anywhere in the entire file, but even if I comment out literally everything except these lines... the e

[2016-08-03 21:59] schmod commented on #7
The Error's coming from the bable plugin itself; not Angular (so `filter` in this case isn't an Angular filter).

It looks like I'm not correctly following references when defining components this way. I'll look into fixing this.

In the meantime, if you inline the object literal, it'll work.

[code]

PS:  I've made an [in-browser tool](http://schmod.github.io/babel-plugin-angularjs-annotate/) to

[2016-08-04 13:44] ejbaker commented on #7
Thank you for your prompt response! It definitely seems to have resolved the issue.

Obviously this is a little bit less than ideal for complicated component definitions, but since the style I was using was already somewhat necessarily in violation of the best practices style guide for Angular (having to put the angular.module call at the bottom of the document, since variables don't get hoisted),

[2016-08-04 13:44] #7 closed

[2016-08-04 14:49] schmod commented on #7
Going to add this as a test case and try to fix in the next release.  This should work, or at the very least, not cause a hard failure.

[2016-08-04 18:30] schmod opened #8 "remove/reuse existing $inject expressions"
The following test-case from the original ng-annotate does not yet pass with the Babel plugin:

[code]

We need to detect existing `$inject` statements, and remove and/or correct them.  (If there's a conflict, we should probably also print a warning)

[2016-08-04 18:50] schmod opened #9 "reference-following does not handle re-assigned variables"
We currently do not handle cases like this:

[code]

Output:

[code]

Realistically, this will be difficult/impossible to infer statically, so it may not even be worth bothering to correct the test case above (which can be inferred statically).

Babel tells us that `ctrl` can not be treated like a constant, and it may be sufficient to simply print a warning whenever we try to follow a mutable refe

[2016-08-04 18:57] schmod opened #10 "Use implicit mode to add `ngInject` annotations"
Create a mode for developers to "retrofit" an existing code-base to use explicit annotations.

This mode should use our "implicit" matching to find all of the locations where we think that annotations belong.  Instead of adding the `$inject` annotations in these places, we should then add the `'ngInject'` directives that would be necessary to use this plugin in "explicit-only" mode.

In practice,

[2016-08-04 19:08] #6 closed

[2016-08-04 19:11] schmod commented on #7
this should now be fixed in v0.5.0

[2016-08-04 19:23] ejbaker commented on #7
Verified fixed! Thanks. :)

[2016-08-04 20:01] mgol commented on #6
Thanks! Sorry I didn't get to it.

[2016-08-09 14:39] schmod opened #11 "crashes with illegal component declaration"
An "illegal" component declaration causes the plugin to crash and exit.  We should tolerate this gracefully.

[code]

causes the plugin to exit with:

[code]

[2016-09-09 10:38] danpantry commented on #11
It doesn't just crash with an illegal declaration, unfortunately. The following code also caused this issue for me (I wrote it out of laziness..)

[code]

[2016-09-21 13:31] willsoto-FD commented on #10
What do you we think would be needed to make this happen? I'd like to see this land.

[2016-09-27 15:49] mlegenhausen opened #13 "Does not work with awesome-typescript-loader and babel-loader"
It seems a class that is extended by another class is not annotated correctly. Following code is generated by `babel-plugin-angularjs-annotate`:

[code]

for comparision the code that is generated when I use `ng-annotate` after `babel` was executed:

[code]

Note that the `$inject` is placed below the comment which seems better and that is added after `__extends` was called.

It resulting error is

[2016-09-28 08:46] mlegenhausen commented on #13
Never mind. The problem was not in this babel plugin, simply had some wired behaviour in getting this stuff working with webpack, typescript and awesome-typescript-loader. For everyone looking around for a configuration here is mine:

[code]

Don't try to chain `awesome-typescript-loader` with `babel-loader` this will create the above described error.

[2016-09-28 13:49] schmod commented on #13
Extended ES6 classes seem to work fine.

[code]

Yields

[code]

In this example, `$inject` is defined before `_inherits(foo,_bar)` is called.

I don't quite understand why this _isn't_ happening with `awesome-typescript-loader`, but there may be nothing that we can do about it (particularly if the TS loader is invoked _after_ Babel).

If you don't have any objections, I'm going to close this.

[2016-09-28 13:49] #13 closed

[2016-09-28 20:45] #11 closed

[2016-09-28 20:48] schmod commented on #11
@danpantry I've fixed things so your example no longer crashes, but you're definitely going to need to add explicit annotations to that source for it to be annotated.

[2016-09-29 09:06] danpantry commented on #11
This example shouldn't need any annotations at all - components cannot be annotated as they are just objects. controllers of components, sure

[2016-09-29 13:36] schmod commented on #11
True!  But those controllers are indeed going to need explicit annotations.

[2016-10-13 13:40] lhrolim opened #14 "last is not defined"
I checked the code at the nginject.js and that **_"last"_** function, indeed, seems to be missing.

Where´s that supposed to be coming from?

I´m running on node 6.7.0, on windows

`ReferenceError: ../softWrench.sW4.Web/Content/temp/scripts/app.concat.js: last is not defined
    at isAnnotatedArray (C:\Users\luizh\workspace\softwrench\Build\node_modules\babel-plugin-angularjs-annotate\nginject.js:

[2016-10-13 20:45] schmod commented on #14
Thanks for filing a bug report.  I think I know what's failing here, and am working on a fix.

Can you provide a snippet of code that produces this error?

[2016-10-14 00:52] lhrolim commented on #14
Hi Andrew,

Unfortunately I got it by running on a private repository of the company,
on a large codebase, and therefore I don´t know exactly how to help you
with.

I even workardounded it here by declaring on my gruntfile.js:

global.last = function (arr) {
       return arr[arr.length - 1];
   }

Let me know if I can help you with some extra details, of ir there´s anyway
to grab some extra log.

[2016-10-14 17:23] #14 closed

[2016-10-14 18:10] schmod commented on #14
This should be fixed in 0.5.3.  Let me know if you have any trouble!

[2016-10-25 12:00] stephank opened #15 "Conflict with `transform-es2015-function-name`"
Run the following:

[code]

Expected output is the unchanged input:

[code]

But instead we get the following:

[code]

In a real-world project, we use webpack with babel-loader in a config like:

[code]

Where the `es2015` preset contains `transform-es2015-function-name`.

But this results in some of our controllers not being able to find certain dependencies.

Not sure if this is an upstream bug

[2016-10-25 12:40] schmod commented on #15
@stephank Go ahead and open a ticket upstream with Babel.  This indeed looks like a bug with `transform-es2015-function-name`.

Our unit tests already have another (different) conflict with this transform, and I disable it in most cases by creating [a modified es2015 preset](https://github.com/schmod/babel-plugin-angularjs-annotate/blob/master/tests/es2015-modified.js) that does not include that t

[2016-10-26 07:34] stephank commented on #15
They didn't outright close it, but did sort of bounce the issue back here: https://github.com/babel/babel/issues/4782

For what it's worth, for us specifically, this is rather low prio. It's fairly easy to work around. :)

[2016-10-26 20:59] schmod commented on #15
Thanks for taking the time to open the ticket.  I'll follow up with the Babel folks.

[2016-11-10 14:59] paradox41 opened #16 "Crashes on object shorthand"
Currently fails with the following error:

`TypeError: test.js: Cannot read property '$chained' of undefined`

You should be able to reproduce this with the following code (`test.js`):

[code]

Create the following babelrc:

[code]

and the following command:

`./node_modules/.bin/babel test.js`

Versions:

Node: `7.0.0`
NPM: `4.0.1`
Babel: `6.18.0 (babel-core 6.18.2)`

---

When you remove `paylo

[2017-01-09 16:09] #16 closed

[2017-01-09 16:23] schmod commented on #16
Fixed this in 0.7.0.  Let me know if it works for you!

[2017-01-11 09:56] lili21 opened #17 "does not work with anonymous function"
![2017-01-11 5 56 18](https://cloud.githubusercontent.com/assets/4456380/21843802/4a5cda82-d827-11e6-9ae0-9651d27cdfd1.png)

[2017-01-11 15:52] schmod commented on #17
@lili21 Can you post the source code of the function causing problems?

[2017-01-11 23:14] mattdsteele commented on #17
I just ran into this as well.

Problematic code:

[code]

Seems to resolve with:

[code]

[2017-01-12 03:14] lili21 commented on #17
or resolve with

[code]

[2017-01-12 16:32] mattdsteele commented on #17
Another workaround is to use an arrow function, a la:

[code]

[2017-02-03 18:19] trisys3 commented on #15
I think I am having a similar problem. For me, it looks like a combination of `transform-es2015-shorthand-properties` and `transform-es2015-function-name` is causing a situation where if I have the same name for the shorthand function and one of the function parameters, babel adds an underscore to the parameter. The shortest code I could come up with to demonstrate was:

[code]

Output:

[code]

I

[2017-02-08 14:35] EladBezalel opened #19 "Annotation doesn't work for a controller with name as a variable"
And probably with any other .module api

I use webpack and angular
[code]

[2017-03-02 15:50] kfeinUI commented on #17
Ran into this too. It's touchy when it comes to exports.

Would also be helpful if the errors provided a bit more information to help track down the issues. For example, if it doesn't know what to do with a node of a particular type then output the type and any other useful context.

[2017-03-10 16:30] MrSpider commented on #17
I have a fix for this, but it's really hacky because of a bug in babel [#5444](https://github.com/babel/babel/pull/5444).
As soon as my babel PR gets merged, I am gonna make a PR here to fix this issue.

[2017-03-10 18:20] schmod commented on #17
Thanks @MrSpider, and for tracking down the root bug too!

[2017-03-10 20:00] kfeinUI commented on #17
I ended up taking _babel-plugin-transform-export-default-name_ and extending it to additionally transform all function declarations into a separate named function which is then referenced by the export.  By running that first, it makes it play nice with this plugin while also retaining function names

[2017-04-06 16:32] mattbrunetti opened #20 "Does not work with async functions"
We are using [babel-preset-env](https://github.com/babel/babel-preset-env) and this plugin; no other presets or plugins.

Given the source...
[code]
the output from babel is this...
[code]

I see 3 problems with this:
1. `myFunction.$inject` should be set with `['someService']` rather than `['_x']`
2. The function wrapped with `['someService', ...]` should be `myFunction` rather than `_callee`
3.

[2017-04-21 20:36] nynexman4464 commented on #17
Ran into this recently.  `babel-plugin-transform-export-default-name` worked.  I wanted to paste the stacktrace here because above is an image which made this really hard to google.

[code]

[2017-05-24 11:54] Kamilius opened #22 ""Cannot set property '$inject' of undefined" with explicit es6 class annotation"
Hi I'm having a module which has following look:
[code]

For some reason, in generated code, `ExampleClass.$inject = ['customService'];` appears before ExampleClass function definition.

[2017-05-29 13:39] FjVillar commented on #22
The code seems fine for me and I can't reproduce it. Is this all your code?

[2017-05-30 07:01] Kamilius commented on #22
Missing description, this code is being processed through Karma, while running UnitTests. When building it directly with Webpack, it looks 100% legit and totally works even minified. But when it is processed through `karma-webpack`, `$inject` appears before method in generated code, but not after it, which causes an error.

[2017-06-02 10:07] FjVillar commented on #22
Confirmed. I have already test some classes and with karma-webpack seems to not work properly. This is such a problem for us since we can't test our code using this plugin. @schmod can you enlight us on how to get a workaround or a fix for this?

[2017-06-20 09:35] clemgrim opened #23 "Does not support `/**@ngInject*/`"
Hello,

`ng-annotate` supported this format, is it possible to add it ?

[2017-06-20 11:41] clemgrim opened #24 "ngInject does not work on direct export"
Hello,

ngInject does not work when exporting a class, it worked with ng-annotate.

[code]

This works.

[code]
This doesn't.

[code]

This does.

[2017-06-25 21:55] maraisr opened #25 "Prettier issues"
Hi, so [prettier](https://github.com/prettier/prettier) adds a wrapping bracket to the string `('ngInject')` . Which isn't compiling correctly.

[code]

TypeScript -> es2017 -> Babel -> es5.

Can you please direct me to the line / file I'll need to edit to make this mod. Could be a root `ng-annotate` issue?

[2017-06-28 16:11] schmod commented on #25
Hi @maraisr:

[I've tried out this code snippet on Prettier's REPL](https://prettier.io/#%7B%22content%22%3A%22class%20Foo%20%7B%5Cn%20%20constructor(%24http)%20%7B%5Cn%20%20%20%20'ngInject'%3B%5Cn%20%20%20%20this.%24http%3B%5Cn%20%20%7D%5Cn%7D%22%2C%22options%22%3A%7B%22printWidth%22%3A80%2C%22tabWidth%22%3A2%2C%22singleQuote%22%3Afalse%2C%22trailingComma%22%3A%22none%22%2C%22bracketSpacing%22%3A

[2017-06-28 16:11] #25 closed

[2017-07-10 15:44] trisys3 opened #26 "Comment Format Not Working With angular-ui-router Resolves, Worked With Regular ng-annotate"
Comments are allowed on actual providers (`.provider`, `.factory`, `.controller`, etc.), but not on `UI Router` resolves. On the previous, now-deprecated `ng-annotate`, comments are allowed here, too. This is easily worked around, as we can use the directive form (`'ngInject';` as the first statement in a resolve), but it could cause major headaches during transition from `ng-annotate` to `babel-p

[2017-07-12 10:47] gdaszuta commented on #20
@mattbrunetti hi, have you found any way to fix it/work around it?

[2017-07-12 14:12] schmod commented on #24
Interesting.

While I look into this, there are a few workarounds you can use:

[code]

and

[code]

will both work.

In general, the second syntax (prologue directives) is going to be more reliable, as other tools/transformations should leave these untouched (whereas comments are frequently moved around or mangled by other transformations).

[2017-07-12 14:15] schmod commented on #20
Hooooooboy.  I'll have to take a look.

I have not run tests against the presets that include support for async functions.  IIRC, we've run into the `_x` issue before, as Babel's promise to run plugins before presets isn't actually respected in some cases.

[2017-07-12 15:16] schmod commented on #22
Would one of you mind pasting a copy of the code generated by karma-webpack here?

[2017-07-12 15:33] schmod commented on #19
There's some history here about why this is difficult:
https://github.com/olov/ng-annotate/issues/22

In general, in this use-case (and all use-cases, really), I strongly recommend using the explicit `'ngInject';` prologue directives (and `explicitOnly` configuration option) to annotate your functions.

Also, in your specific example, I'd advise against using a lambda function for a controller dec

[2017-07-12 15:38] schmod commented on #26
This looks like a duplicate of #23, because you're using a double-asterisk in your comment.

[2017-07-12 15:38] #26 closed

[2017-07-12 15:40] #17 closed

[2017-07-12 15:40] #23 closed

[2017-07-12 15:40] #24 closed

[2017-07-12 15:41] schmod commented on #26
fixed in 0.8.0

[2017-07-12 15:42] schmod commented on #24
fixed in 0.8.0

[2017-07-12 15:42] schmod commented on #23
fixed in 0.8.0

[2017-07-12 15:42] schmod commented on #17
fixed in 0.8.0

[2017-07-12 15:55] trisys3 commented on #26
Thanks, I'll check. It's weird that double-asterisk worked other places.

[2017-07-12 16:08] trisys3 commented on #26
Just checked, everything looks fine. Thanks for the quick turnaround!

[2017-07-12 17:44] schmod commented on #20
@gdaszuta @mattbrunetti Just curious: What is your use-case for this.  Does Angular even know what to _do_ with an async function?

[2017-07-12 19:28] mattbrunetti commented on #20
@schmod We were trying to use async functions in [resolve functions](https://toddmotto.com/resolve-promises-in-angular-routes/#phase-3-resolve-property-on-routes) used with [angular-ui-router](https://github.com/angular-ui/ui-router). These functions are called with `$injector.invoke()` and are expected to return a promise. I don't think Angular's invoke function needs to do anything special with

[2017-07-28 14:59] ianldgs opened #27 "Smart assign to `this` in constructors"
[code]

could become:

[code]

[2017-07-28 15:10] schmod commented on #27
TypeScript-style automatic property assignment is probably going to remain outside of the scope of this package.  It would create unexpected behaviors for a lot of users, and there are many edge-cases that would be difficult to implement.

However, you raise a good point that your first example does not work unless ES5 transformations are enabled, or `Ctrl` is declared outside of `angular.module()

[2017-07-28 15:17] ianldgs commented on #27
That is unfortunate. How about adding options to `ngInject`?

Something like:
`/* @ngInject({autoAsign: true}) */`

This is how annotations works in other languages.

About the issue of `ngInject` inside `angular.module()`, I didn't notice, as I use ES7 transformers, but I used it alot.-

[2017-07-28 15:32] schmod commented on #27
[babel-plugin-auto-assign](https://github.com/shuhei/babel-plugin-auto-assign) might do the thing that you're looking for.

It's not necessarily an Angular 1.x-specific feature.

[2017-08-03 09:10] joerideg commented on #22
I have the same problem, however I think it might be related to babel-istanbul-plugin:
[code]
If I add the part in my babelrc file for the istanbul plugin it fails, if I remove the part the tests pass, however I obviously have no coverage :(.
[code]

[2017-08-03 09:28] joerideg commented on #22
Actually I just realized I could NOT run angularjs-annotate on my test code, since its not minified. I can only run angularjs-annotate during a production build therefore solving my problem. Yay for me. I will leave my comment above though in case any one else realizes this same thing.

[2017-08-03 14:27] FjVillar commented on #22
@joerideg Actually, It's not reccomended to use angularjs-annotate in dev build since, at least for me, the watch feature of webpack gets really slowed down. So I only use angularjs-annotate plugin in build config too. Now I can't really help with this, my solution was to migrate Karma to Jest but, I think that if you just run your karma jasmine unit tests before minifying the code It should be fi

[2017-08-15 13:05] hitmands opened #28 "Feature: provide automatic annotation for derived classes"
Currently:
[code]

**Expected**
### It would be helpful if also `Baz` will inherit dependencies from `Foo`.

StackOverflow issue: [AngularJS: Inherited dependencies need to be duplicated?](https://stackoverflow.com/questions/45564347/angularjs-inherited-dependencies-need-to-be-duplicated)

[2017-08-15 14:14] schmod commented on #28
The [ES2015](http://jsbin.com/poxowavona/2/edit?html,js,console) and [ES5](http://jsbin.com/pejaxusuya/1/edit?html,js,console) transpiled output both work fine when I try them.

---

If Baz has its own constructor with different arguments than Foo, we should be able to handle it fine as long as both Foo and Baz have `ngInject` annotations.  I'm hesitant to add support for rest parameters (as you d

[2017-08-15 15:30] hitmands commented on #28
Yes, I totally agree with your point of view...

it could be an option to live this issue open? Someone could end up with the right solution...

We basically need to `recursively` build the `$inject` static property.
[code]

[2017-08-15 20:39] schmod commented on #28
The problem is that we can't guarantee the ordering of arguments is always going to line up between `B` and `A`, or that rest parameters are necessarily going to be passed directly into  `super()`.

Like I said, I think the only "safe" thing that I can recommend is for `B` to directly declare all of its injectables _as well as those of its superclasses_ in its constructor.  Any calls to `super()`

[2017-08-16 08:53] hitmands commented on #28
I completely agree. Considering the scope of this plugin, this feature is definitely out-of-scope.

[2017-08-16 14:02] #28 closed

[2017-08-16 15:02] schmod commented on #28
Thanks for taking the time to open an issue though!  If you can think of a straightforward way that we can add this functionality (or want to open up a dialogue with the Angular folks), I'm happy to consider it.

Similarly, if you want to write your own Babel plugin (a suggestion I make in response to a lot of feature requests here), I'm happy to point you in the right direction.  Despite the rela

[2017-09-20 14:22] lucassus opened #29 "Problem with function hoisting"
Input code:

[code]

Output code:

[code]

In the given example `ordinalSuffixFilter.$inject = ['ordinalSuffix'];` is defined on the wrong scope therefore it leads to "undefined variable orfinalSuffixFilter" error. I believe that in order to avoid such errors annotations should be added directly above the annotated function.

[2017-09-20 14:46] lucassus commented on #29
It could be related to https://github.com/schmod/babel-plugin-angularjs-annotate/issues/22

[2017-09-20 16:15] schmod commented on #29
I'll take a look at this.  For now, you can work around this by declaring the function as a variable.

[2017-09-26 13:10] bbaliguet opened #30 "Issue with default parameter arguments"
Hi,
There seems to be something wrong with default parameter arguments:

Input code:
[code]

Output code:
[code]

Removing the default argument does work, `inside.$inject = ["$q"];` appears again.

[2017-09-26 19:36] schmod commented on #30
This looks like an upstream (and weird!) bug in Babel (linked above).  I have a workaround and will make a new release in a sec.

[2017-09-26 20:46] schmod commented on #30
Fixed in 0.8.1

[2017-09-26 20:46] #30 closed

[2017-09-26 21:55] #29 closed

[2017-09-26 22:02] schmod commented on #29
Fixed in v0.8.2

[2017-09-26 22:06] schmod commented on #22
I occasionally benchmark this plugin, and in my experience, I've found that it adds a negligible amount of overhead compared to what normally gets run via the AST parser or `babel-preset-env`.  I do *not* recommend going out of your way to run your dev build and/or tests with a different configuration, and would encourage you to open an issue if this plugin is significantly degrading the performan

[2017-09-26 22:07] schmod commented on #22
The fix added in v0.8.2 appears to have fixed the original problem reported by @Kamilius.

Please re-open this issue if you're still having problems!

[2017-09-26 22:07] #22 closed

[2017-09-27 05:22] bbaliguet commented on #30
Thanks for the quick fix 😄  !

[2017-10-03 11:27] kamilbrk opened #31 "Support for @ngInject within JSDoc blocks"
Hi,

I was wondering if there's any chance you could consider supporting JSDoc/NGDoc multiline comments with explicit `@ngInject` annotation:

[code]

I've made a simple pull request but I'm quite overwhelmed with tests, made just one for ES2015 code. Submitting shortly.

[2017-10-03 14:06] schmod commented on #31
I'll take a look at the PR -- this seems like something we can add pretty easily.  However, I want to emphasize that prologue directives are (by far) the most reliable way to add annotations.

Docblock comments occasionally get moved around by other transformations/preprocessors, and there aren't really any standards that say that they _shouldn't_.  Prologue directives, on the other hand, have an

[2017-10-11 03:52] snakamura opened #33 "0.8.2 is extremely slow"
It became extremely slow when I updated babel-plugin-angularjs-annotate from 0.8.1 to 0.8.2.

    time babel --presets es2015 --plugins angularjs-annotate app.es6.js > /dev/null

With 0.8.1

With 0.8.2

My app.es6.js is around 750KB/25,000 lines.

[2017-11-08 16:58] sarod opened #35 "$inject is not added if controller class is exported"
When using the following code angularjs-annotate fails to annotate the class.
[code]

Note that this works fine if the class is not exported.

I found 2 workarounds to make it work:
Option 1: move /* @ngInject */ right before the consructor works
[code]
Option 1: Use an alias for export
[code]

[2017-12-11 18:22] dgreene1 commented on #20
Any news on this?

[2017-12-25 02:49] SenHengDesamis commented on #33
We have similar issues too. Transpilation times went up 30s.

### 0.8.2
[code]

### 0.8.0
[code]

[2018-01-15 09:13] bhollis opened #38 "Remove prologue string?"
I use the 'ngInject' prologue string everywhere, and angularjs-annotate does a wonderful job with it. But once the transform has happened, do we still need that prologue? We could save a bit of space in the final bundle by removing it.

[2018-01-15 15:02] schmod commented on #38
Seems like a perfectly reasonable addition, given that a good minifier probably _shouldn't_ be removing those prologue strings.  I don't have a ton of time to work on this project lately, but would be happy to look over a PR, or might be able to get around to looking at this in a few weeks.

[2018-01-17 06:03] #38 closed

[2018-01-24 19:36] dlinnemeyer opened #40 "Any way to catch babel-renamed function arguments?"
I ran into a problem related to babel renaming function arguments when they collide with babel adding names to anonymous functions (stack overflow discussion on it here: https://stackoverflow.com/q/38383512). We have a DI argument named `foo`, which gets renamed to `_foo` by babel , which breaks angular annotations.

We start with something like this:

[code]

And get:

[code]

I'm guessing this i

[2018-01-24 22:06] schmod commented on #40
We should know when babel renames function arguments.  We've [had issues in the past](https://github.com/babel/babel/issues/4078) where Babel wasn't properly communicating to us that it was renaming things, and it looks like that's what's happening here... :-(

[2018-01-25 17:22] dlinnemeyer commented on #40
Oh, interesting, thanks for the info. So what would be the next step? Not sure I understand the problem with the internals well enough to report a bug for babel itself.

[2018-02-26 16:53] superted17 commented on #35
@sarod thanks for posting your findings. I've got the same issue, and your suggestion to use /*@ngInject*/ before the constructor sort of worked for me.

This got the plugin to actually run, but the place that it inserts the $inject statement wasn't right and caused problems at runtime.

I'll see if I can add some failing unit tests...

[2018-03-22 20:50] uberspeck opened #41 ""Module 'xxx' is not available!" errors when converting from ngAnnotate"
I'm updating libraries on a legacy project. Our build system relies on gulp and i've installed `gulp-babel`, `babel-core` etc and the scripts run. However the app fails with `Module '[module name]' is not available!` errors. I assume that babel is doing more under the hood than ngAnnotate was and it's causing some issues. I've tried changing settings in my `.babelrc` file, but that hasn't helped.

[2018-04-12 11:56] jakewhelan opened #42 "babel 7 support"
I'm currently modernising an angular 1.5 app

I would like to use babel 7 but this plugin has not been updated, are there any plans for this update?

[2018-05-08 20:29] schmod commented on #42
@p3x-robot This repo is maintained. Please feel free to open a PR if you'd like to fix this.

[2018-05-12 16:06] StabbarN commented on #42
I use this plugin together with babel 7 without any problems.

[2018-05-14 01:46] pioug commented on #42
I created a PR https://github.com/schmod/babel-plugin-angularjs-annotate/pull/43. I am not very sure of my changes since I don't follow closely the evolution of Babel but tests are passing 🙏

[2018-05-27 23:57] mribichich opened #44 "Not working when some property of the class has a Decorator"
If your class has a Decorator, then the plugin skips the transformation.

It works for everything else. Tested changing the `/* @ngInject */` comment to different places.

I'm using `babel 7`

[code]

This is the output from babel:

[code]

thanks

[2018-06-04 13:42] Blinnikov commented on #33
Has it been fixed in 0.9.0?

[2018-06-04 15:13] schmod commented on #33
Unlikely.  1.0.0 should be on its way as soon as I have some free time to test it, and may help with this somewhat.  I know where the bottleneck is, but unfortunately need to be careful about any fixes, as the code in question was added to address a number of difficult-to-diagnose edge-cases where we weren't generating the right code.

[2018-07-12 02:57] iamdevlinph opened #45 "Unexpected token"
[code]

The code snippet that causes an issue is this
[code]

---
**After** switching to BPAA

**gulpfile.js**
[code]
Error:
[code]
The problem is that the `app.js` file is not generated so I dont know how to know which token it is exactly.

---
**Before** I switched to BPAA `gulp-annotate`.

**gulpfile.js**

[code]

Error

[code]
This is because `ng-annotate` doesn't support some es6 syntax.

Tho

[2018-07-12 03:03] iamdevlinph commented on #45
After narrowing it down, the issue seems to be caused by the `{ ...row }`

But when I switched to array `[ ...row ]` there seems to be no problem

[2018-07-12 03:11] iamdevlinph commented on #45
I got it now.

I added a plugin `babel-plugin-transform-object-rest-spread`

[2018-07-12 03:15] iamdevlinph commented on #45
I got it now,

I added a plugin `"babel-plugin-transform-object-rest-spread": "^6.26.0",`.

[2018-07-12 03:15] #45 closed

[2018-07-16 08:07] fturiot opened #46 "Question not issue babel-plugin-angularjs-annotate for replace ng-annotate with grunt"
Hi,
I have a question , how can i install babel-plugin-angularjs-annotate for replace ng-annotate with grunt
thanks
Fred

[2018-08-12 00:40] jakewhelan commented on #42
Thanks for arousing my interest @StabbarN, I've since discovered this indeed works with Babel 7 - you just need to require it rather than using the string literal reference as instructed in the README.

[code]

Though now that I think about it, this should also work just fine:
[code]

I think all the package naming changes just threw me off.

[2018-08-12 00:40] #42 closed

[2018-08-12 21:01] edsrzf opened #47 "Method names can shadow import names"
I've run into a bug where if a class method has the same name as an import, prefixed with an underscore, it shadows the import with the similar name. Brief example:

[code]

I've created a full reproduction case with more information here: https://github.com/edsrzf/babel-angularjs-repro

Note that this uses babel 7. I've tried pulling in the changes from #43 but they don't seem to help anything.

[2018-10-23 12:20] thekip commented on #10
This is a really good proposal. I currently have a hybrid application with AngularJs + Angular7, and ngAnnotate is one of the things which block me to use AngularCLI.

I would be really happy if I can find all places where implicit annotation applied, and replace it to manual annotation, and remove ngAnnotate at all.

Your proposal can help with that because I can manually one by one check all pla

[2018-10-23 13:20] schmod commented on #10
The project isn't really set up to do codemods at the moment (and I'd kind of discourage folks from doing this, because it provides little safety in the event of a forgotten annotation), but it's certainly something I can look at once I have time to dust this off and get the other bugs fixed.

[2018-10-23 13:31] thekip commented on #10
I'm actually want to run ngAnnotate in a kind of "dry run" mode, just to point me places where I don't have explicit annotations.

I have explicit markers via 'ngInject' (which I can find just by string in IDE) and also I have places where code annotated implictly by "euristic" detection. I want to find all this 'euristic' places, mark them explicitly and then one by one convert to manual annotati

[2018-10-23 13:42] schmod commented on #10
In `ng-annotate-main.js`, look for anything that calls `insertBefore` or `insertAfter`

I'm planning to eventually add something like a "dry-run" mode with the `explicitOnly` mode -- we'll only annotate functions that you've _explicitly_ marked for injection, but warn or fail with an error if it looks like you forgot one.

(In my experience, it isn't really safe to run this once and forget it if y

[2018-10-24 09:06] thekip commented on #10
Finally I got that. In my case almost 99% occurrences was in `block.unshiftContainer("body", [expr]);` in `addInjectArrayBeforePath()` function.

I also had to add file name information in visitor to context, to be able to console.log it further.

[code]

[2018-11-09 17:50] stevenvachon opened #48 "Option for a decorator"
Making this possible:
[code]

[2018-11-23 21:16] georgecrawford commented on #27
Hi @schmod. The issue you describe in the second part of https://github.com/schmod/babel-plugin-angularjs-annotate/issues/27#issuecomment-318678752 is exactly my problem. I was expecting this plugin to detect and convert a controller class defined _inside_ `angular.module()`, but as you point out it does not.

Can you explain whether a fix is planned for this, and if not, what options I have as a

[2018-12-12 23:05] YonathanB opened #49 "doesn't work with babel-core >= 7.0"
I would like to use latest  babel, so I can set presets:'env'.
but it doesn't work.

[2018-12-14 01:58] daniel-nagy commented on #44
If I put `/* @ngInject */` just before the constructor it works.

[code]

[2019-01-10 15:56] schmod commented on #49
0.10.0 now works with Babel 7.  Please feel free to reopen if that doesn't work for you!

[2019-01-10 15:56] #49 closed

[2019-03-14 06:49] nasvillanueva commented on #33
@schmod Any news on this? I'd be happy to help if you can provide some information about it.

[2019-03-27 10:12] iMomen commented on #46
any updates about this one

[2019-03-28 05:19] pixelypants commented on #46
I have added this to my project, but it doesn't seem to make the needed changes, how do I get it to trigger?

[2019-03-28 09:25] madflow commented on #46
This plugin is installed the same as every other Babel plugin is. You have to add it to the Babel configuration.

https://babeljs.io/docs/en/config-files

https://github.com/schmod/babel-plugin-angularjs-annotate/blob/master/README.md#installation

After doing this - you will most likely do not have to do anything in your build pipeline - as long as you are using Babel to transpile your code.

[2019-04-12 03:22] arvins-wittymanager opened #50 "Project with angular and vue code"
I was having problems with running `npm run prod` because angular wouldn't load the minified functions correctly and logging this error:
[code]
Resolved it by adding `angularjs-annotate` to .babelrc plugin:
[code]
However, as a result of this fix, I started getting error `TypeError: "e._f(...) is not a function"`, which is related to global vue filters `Vue.filter(...)`.

Is there any way to get t

[2019-04-18 13:03] Cererec commented on #40
Hi I am experiencing this kind of problem, any fixes on this?

thanks

[2019-04-18 13:32] LM-G commented on #20
2019, still not working :(

[2019-04-30 00:29] zenflow commented on #20
@LM-G 2019 and you're using Angular 1?

[2019-04-30 08:25] LM-G commented on #20
@zenflow Sadly, yes :( . I just joined an organization which is migrating an old ng1 app to a new fancy one with VueJS.

[2019-04-30 08:55] madflow commented on #20
Please let us know how that worked out :D

[2019-06-10 08:42] kirannuclear opened #51 "codeFrame is not a function"
I'm getting this error when I build using webpack.

`ERROR in ./controllers/_config.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
TypeError: codeFrame is not a function
    at isAnnotatedArray (C:\xampp\htdocs\Mininfy app\apartment-management-system\ApartmentManagementSystemUI\node_modules\babel-plugin-angularjs-annotate\nginject.js:401:23)
    at Object.inspectFunction (

[2019-10-23 09:20] kostetskyroma opened #53 "Cannot set property $inject of function SomeController which has only a getter"
Hi everyone, I've faced with the issue when using `babel-plugin-angularjs-annotate` plugin v.0.10.0.
I've received an error:
[code]
**SomeController.js**
[code]

**.babelrc**
[code]
What is wrong in my config?

[2019-10-23 10:36] kostetskyroma commented on #53
it seems that `babel-plugin-angularjs-annotate` doesn't support this syntax.

![image](https://user-images.githubusercontent.com/12156197/67384468-e0b0df00-f599-11e9-9a06-9501539f0612.png)

@schmod can you confirm it?

[2020-02-02 09:42] zleight1 commented on #53
I was able to fix this by having babel transpile to a lower target.

[2020-02-03 09:59] timofei-iatsenko commented on #44
The same is for Typescript decorated class with typescript configured for es2015 target:

input:

[code]
Output:

[code]

Seems problem take place when in generated code class assigned to a variable eq. `let Foo = class Foo {}`

[2020-02-03 10:14] timofei-iatsenko commented on #53
The problem in your case that you have already defined `$inject` property in your class. And it's defined as a getter without setter and treat as read-only.
Plugin during its work annotate this class second time and try to assign variable into your getter, and this causes an error.

You have a few options here:

1. Disable implicit mode:

[code]

This way only explicitly annotated classes will be

[2020-02-06 08:49] timofei-iatsenko commented on #48
I have been using it for a while in our project

[code]

Add injector decorator module to your root module in the top of queue before any other:

[code]

Then use it this way:

[code]
 ### Notice
Injects with this decorator are lazy. Services will be injected and instantiated only when you access a property. This might break some of your flows.

[2020-03-10 20:12] binarykitchen commented on #41
Having this issue too. How to migrate from old gulp-ng-annotate to this?

[2020-03-25 09:24] dv336699 commented on #41
Not a solution for this issue, but I found an updated version of gulp-ng-annotate

https://github.com/olov/ng-annotate/issues/245#issuecomment-373157859

[2020-07-02 09:23] g0di opened #56 "Can not inject dependencies on class when declared on an object property"
Hello there,

I'm stuck with an issue with following angularJS component declaration where the plugin does not generate `$inject` array
[code]

I think this is because the plugin has nowhere to include the `MyComponentController.$inject = ['$http']` statement because of the way the class is declared and associated to the `controller` property.

There is two possible solutions in this case
1. Add a

[2020-11-03 21:24] zuzusik commented on #28
I recently encountered this issue. Solved it with adding following code to the base class:

**Note:** this approach would only work if base class gets auto-annotated - so it either has to be used in `angular.module('<blah>').<method>()` call or should have explicit `// @ngInject` comment.

[code]

The idea here is that when derived class doesn't have own constructor, automatic annotation would set

[2021-03-16 14:55] andrey-skl opened #57 "Underscore "_" breaks annotations when "@babel/plugin-proposal-class-properties" is used"
1. Have a babel setup that transforms class properties. For example, `babel/preset-env`
1. Have the following code, where a function is assigned as a class property **AND** variable with same name as injected dependency is used inside:

[code]

2. Try to handle this case with 'babel-plugin-angularjs-annotate'. [See reproduction here](https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C

[2021-04-27 05:25] AprilArcus commented on #20
I had exactly @mattbrunetti's problem. I dug into this and determined that In order for `babel-plugin-angularjs-annotate` to work correctly, `@babel/plugin-transform-async-to-generator` must linearly precede `@babel/plugin-transform-shorthand-properties`, which it does not appear to do by default when using `@babel/preset-env`.

This config works:

[code]

so does this:

[code]

so does this:

[co

[2021-04-27 06:32] AprilArcus commented on #20
I worked around this in the following way:

1.) I added `{ "exclude": ["transform-shorthand-properties"] }` to `@babel/preset-env`'s options.
2.) I created a new file in my project's root directory called `babel-preset-angular`, containing the following:

[code]

and added it to my list of presets before `@babel/preset-env`:

[code]

[2021-12-22 11:21] oliversalzburg opened #59 "What does "Declarator name different _elementReadyDirectiveFactory" actually indicate?"
I mostly want to leave this here, for anyone doing a web search about this behavior.

During my WebPack build, I repeatedly saw the line:

The message is coming from https://github.com/schmod/babel-plugin-angularjs-annotate/blob/master/ng-annotate-main.js#L785-L788 I don't understand what it indicates and I also wasn't able to resolve this by trial-and-error.